@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body {
	text-align: center;
	font-family: 'Open Sans', Arial, sans-serif;
}

#map {
	width: 700px;
	height: 450px;
	margin: 0 auto;
}

a, a:visited {
	color: #3399CC;
}

a:hover {
	color: #3399FF;
}
